@font-face {
  font-family: 'Avenir Next';
  src: url(/fonts/AvenirNext-Regular.otf);
}
@font-face {
  font-family: 'Avenir Next Bold';
  src: url(/fonts/AvenirNext-Bold.otf);
}
body {
  padding: 0px;
  margin: 0px;
  background-color: #001D3E;
  background: linear-gradient(to bottom right, #001D3E 50%, #002754);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  color: white;
  font-family: 'Avenir Next';
  font-size: 17px;
}
#container{
  width: 95%;
  max-width: 1350px;
  margin: auto;
  text-align: center;
}
#logo {
  text-align: left;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-top: 40px;
  float: left;
}
#logo span {
  font-family: 'Avenir Next Bold';
}
#profile_photo{
  border-radius: 50%;
  width: 50px;
  -webkit-box-shadow: 0 7px 6px -6px black;
-moz-box-shadow: 0 7px 6px -6px black;
box-shadow: 0 7px 6px -6px black;
  margin-top: 30px;
  margin-bottom: 40px;
  float: left;
}
#top_corner{
  float:right;
  width: 200px;
}
#top_corner a{
  font-family: 'Avenir Next Bold';
  text-transform: uppercase;
  color: white;
  margin-top: 45px;
  margin-left: 15px;
  float: left;
}
#top_corner a:hover{
  cursor: pointer;
  opacity: .8;
  text-decoration: none;
  text-decoration: none;
}
.meal {
  background: linear-gradient(to bottom, #00AEFF, #004CA4);
  background-color: lightblue;
  border-radius: 8px;
  height: 400px;
  width: 290px;
  float: left;
  margin-right: 80px;
  margin-top: 80px;
}
.meal img {
  border-radius: 50%;
  margin-top: -65px;
}
.thumb {
  border-radius: 50%;
  margin-top: -65px;
  margin-left: auto;
  margin-right: auto;
}
.meal h2 {
  font-family: 'Avenir Next Bold';
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.mealInfo{
  text-align: left;
}
.mealInfo .numbers{
  font-family: 'Avenir Next Bold';
  text-align: right;
  width: 40%;
  float: left;
  margin-right: 10px;
}
.meal_button{
  border: solid 1px white;
  border-radius: 20px;
  padding-top: 5px;
  height: 35px;
  width: 230px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-image: url(images/check.png);
  background-repeat: no-repeat;
  background-position: 20px 10px; 
}
.meal_button:hover{
  background-color: white;
  cursor: pointer;
  color: #005cb3;
}
.meal_header{
    font-size: 17px;
    text-transform: uppercase;
    margin-left: -80px;
}
.bottom{
  margin-top: 10px;
  background-image: url(images/X.png);
}
#meal1, #meal2, #meal3{
    float: left;
    margin-bottom: 50px;
}
#meal3_inner{
  margin-right: 0px;
  float: left;
}
#meal_header3{
  margin-left: 0px;
}
header{
  height: 150px;
}
#today{
  width: 100%;
  display: block;
  margin: auto;
}
#date{
    margin-bottom: 60px;
    text-transform: uppercase;
}
.bold{
    font-family: 'Avenir Next Bold';
}
#back_arrow{
  float: left;
  margin-top: 250px;
  margin-right: 50px;
}
#forward_arrow{
  float: left;
  margin-left: 50px;
  margin-top: 250px;
}
.arrow:hover{
  cursor: pointer;
  opacity: .4;
}
#meals{
  max-width: 1260px;
  margin: auto;
  padding-left: 20px;
}